.card{
    button{
        transform: translateY(100%);
        opacity: 0;
    }

    &:hover{
        button{
            transform: translateY(0);
            transition: transform 0.3s ease-in-out;
            opacity: 1;
        }
    }
}