<footer class="bg-gray-100 border-t- py-6 mt-10 ">
  <div class="max-w-screen-xl mx-auto px-4">
    <!-- Section 1 -->
    <div class="mb-6">
      <h2 class="text-lg font-semibold text-gray-800">
        Get The FreshCart App
      </h2>
      <p class="text-gray-500 text-sm mb-3">
        We Will Send You a Link, Open it on Your Phone to download the app
      </p>

      <div class="flex items-center gap-3 text-nowrap">
        <input
          type="text"
          placeholder="Email"
          class="flex-1 border border-gray-300 rounded-md px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
        <button
          class="bg-green-600 hover:bg-green-700 text-white px-5 py-2 rounded-md text-sm whitespace-nowrap transition"
        >
          Share App Link
        </button>
      </div>

    </div>

    <hr class="border-gray-300 my-5" />

    <!-- Section 2 -->
    <div class="flex flex-col md:flex-row justify-between items-center gap-4">
      <!-- Payment partners -->
      <div class="flex flex-wrap justify-center md:justify-start items-center gap-3">
        <span class="text-sm font-medium text-gray-700">Payment partners</span>
        <img src="./images/amazon-pay.png" class="w-8" alt="" />
        <img src="./images/American-Express-Color.png" class="w-8" alt="" />
        <img src="./images/paypal.png" class="w-8" alt="" />
        <img src="./images/mastercard.webp" class="w-8" alt="" />
      </div>

      <!-- App stores -->
      <div class="flex flex-wrap justify-center md:justify-end items-center gap-2">
        <span class="text-sm font-medium text-gray-700">
          Get Deliveries with FreshCart
        </span>
        <img src="./images/get-google-play.png" class="w-20" alt="" />
        <img src="./images/get-apple-store.png" class="w-20" alt="" />
      </div>
    </div>
  </div>
</footer>
