@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

.btn-main {
  @apply bg-green-600 text-white px-12 py-2 border rounded hover:bg-green-900 transition-colors duration-500;
}

.main-sec{
  @apply bg-gray-50 border rounded shadow p-4;
}

.form-control{
  @apply bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-100 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

body {
  font-family: 'Open Sans', sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap");

:root {
  --main-color: #0aad0a;
  --light-color: #f0f3f2;
  --shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
    rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
    rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
  --font-family: "Encode Sans Expanded", sans-serif;
  --rating-color: #ffc908;
}

body {
  font-family: var(--font-family) !important;
}

.nav-link {
  transition: unset !important;
}

.active-link {
  background-color: var(--main-color) !important;
  color: var(--light-color) !important;
  border-radius: 5px;
}

.rating-color {
  color: var(--rating-color);
}

.cursor-pointer {
  cursor: pointer;
}

a,
a:hover {
  color: black;
  text-decoration: none;
}

.product {
  border-radius: 5px;
  border: solid 1px var(--main-color);
  transition: box-shadow 0.5s;
  overflow: hidden;
}

.product:hover {
  box-shadow: 0 0 10px #11bd1168;
}

.font-sm {
  font-size: 12px;
}

.text-main {
  color: var(--main-color);
}

.bg-main {
  background-color: var(--main-color) !important;
}

.bg-main-light {
  background-color: var(--light-color) !important;
}

.btn-main-custom {
  background-color: var(--main-color);
  padding: 7px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.5s;
}

.btn-main:disabled {
  cursor: not-allowed;
  background-color: #ccc;
}

.btn-main:disabled:hover {
  background-color: #ccc;
}
